@charset "ISO-8859-1";

/* Estilos generales */
.color1 {
    color: #30B221;
}

.color2 {
    color: #ffffff;
}

.color3 {
    color: #000000;
}

.color4 {
    color: #4dbce9;
}

.color5 {
    color: #046ab3;
}

.titulo {
    font-size: 36px;
    text-align: center;
    padding-top: 20px;
}

.cont {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #ffff;
    border-radius: 10px;
    align-items: center;
    box-shadow: 10px 0px 15px 5px rgba(0, 0, 0, 0.45);
}

.cont-tabla {
    padding: 20px;

}

.table th,
.table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
    text-align: center;
}

.encabezados {
    background-color: #2596be;
    color: white;
    opacity: 92%;
}

.tabla tbody tr:nth-child(odd) {
    background-color: #e0e0e0;
}

/* Enlaces de Editar y Eliminar */
.table a {
    text-decoration: none;
}

.table a:hover {
    text-decoration: underline;
}

.add {
    display: inline-block;
    background-color: #a4312f;
    color: #fff;
    padding: 12px 20px;
    margin: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add:hover {
    background-color: #ff9500;
    text-decoration: none;
    color: #fff;
    opacity: 80%;

}

/* Pie de página al final de la página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background-image: linear-gradient(to left top, #214358, #234f67, #20749a, #3facd1, #7ccce4);
    padding-bottom: 30px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: black;
    color: white;
}

.izquierda {
    grid-area: 1 / 1 / 3 / 3;
    margin-top: 5%;
    margin-left: 30%;
}

.derecha {
    grid-area: 1 / 3 / 3 / 5;
    margin-top: 5%;
    margin-left: 30%;
}

.medio {
    grid-area: 1 / 5 / 3 / 7;
    margin-top: 5%;
    margin-left: 30%;
}

.abajo {
    grid-area: 3 / 3 / 4 / 5;
    margin-top: 0%;
    margin-left: 10%;
}

.logo {
    height: 150px;
    width: 150px;
    margin-bottom: 5%;
    margin-left: 5%;
}

.redes-sociales {
    display: flex;
}

.redes {
    padding: 10px;
    font-size: 30px;
}

.imagenes {
    position: relative;
    bottom: 0;
    left: -200px;
    text-align: left;
    padding: 10px;
    margin-top: -80px;
}

.img-vehiculo {
    width: 80px;
    height: 60px;
}

.icono {
    width: 70px;
    /* Ajusta el tamaño según sea necesario */
    height: 70px;
    /* Ajusta el tamaño según sea necesario */
    margin-right: 10px;
    /* Ajusta el espacio entre las imágenes */
}

.icono2 {
    width: 130px;
    /* Ajusta el tamaño según sea necesario */
    height: 30px;
    /* Ajusta el tamaño según sea necesario */
}

.nivel-0 {
    background-color: #FA9BA4;
    /* Anulado */
}

.nivel-1 {
    background-color: #FEE595;
    /* Amarillo */
}

.nivel-2 {
    background-color: #FEBDF9;
    /* Naranja */
}

.nivel-3 {
    background-color: #86CFDE;
    /* Tomate */
}

.nivel-4 {
    background-color: #75C29F;
    /* Rojo */
}

.button {
    display: inline-block;
    background-color: #214358;
    color: #fff;
    padding: 12px 20px;
    margin: 30px;
    text-decoration: none;
    border: 0px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.button:hover {
    background-color: #234f67;
    text-decoration: none;
    color: #fff;
    opacity: 80%;
    border: 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}

.button a {
    text-decoration: none;
    color: white;
}

.button a:hover {
    text-decoration: none;
    color: white;
}

.boton {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}

.icon{
    font-size: 25px;
}
